
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*========================== General styles ======================*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: #164B55;
}
h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}
img {
    max-width: 100%;
    height: auto;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Navigation */
 
.nav {
    display: flex;
    background-color: transparent;
    text-decoration: none;
}
ul  {
    display: flex;
    align-items: center;
  
}
.nav {
    background-color: black;
    width: auto;
}
li a:link {
    text-decoration: none;
    text-align: center;
    background-color: #5CB9B9;
    border: 1px solid rgb(127, 19, 19);
    border-radius: 15px;
    padding: 5px 10px;
}
ul > li {
    padding-left: 40px;
}

.cart-logo > button {
    background: none;
    margin-top: 10px;
    margin-left: 40px;
}

/*============= main seaction styling for the home page ===========*/

.home-page-photo {
    width: auto;
}
/*.keyboard  img {
    max-width: auto;
}*/
.products { 
    display: grid;
    grid-template-columns: 22% 22%;
    grid-column-gap: 10em;
    justify-content: center;
    margin: 10px 10px;
}
.products h3 {
    text-align: center;
}

.products p {
    text-align: center;
    font-size: 15px;
}
/*
.keyboard:nth-child(1){
    grid-row: 1 , 2;
    grid-column: 1 , 2;
}
.keyboard:nth-child(2){
    grid-row:  2, 3;
    grid-column: 1 , 2;
}
.keyboard:nth-child(3){
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}
.keyboard:nth-child(4) {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}
.keyboard:nth-child(5){
    grid-row: 2 / 3;
    grid-column: 5 / 7;
}
.keyboard:nth-child(6){images/5th.jpg
    grid-row: 4 , 5 ;
    grid-column: 6 , 7;
}
*/
footer {
    border-top: 1px solid black;
 
}
button a:link {
    text-decoration: none;
}
button  {
    background-color: #5C2751;
    border-radius: 10px;
    font-weight: 700;
    float: right;
    padding: 5px 5px;
    margin: 10px 5px;
}
/*=========== styling for about us page =============*/
footer svg {
    margin: 10px 5px;
}
.social-media-about {
    display: flex;
    justify-content: center;
}
.about-imgs {
    max-width: 100%;
    height: auto;

}
.about-us {
    margin: 10px 10px;
}
.about-us, h2, p {
    text-align: center;
}
.our-mission {
    margin-bottom: 40px;
}
.about-us, .our-mission p  {
    font-weight: 600;
}
/*=========== styling contact page ===========*/
.contact-us, h2 {
    margin-top: 30px;
} 
.insert {
    text-align: center;
    margin-top: 25px;
}
.send-us {
    padding: 20px 50px;
    border-radius: 60px;
    background-color: #5C2751;
}
 .social-media {
    display: flex;
    justify-content: center;
 }
 .send-us {
    margin-top: 10px;
    margin-bottom: 90px;
 }

/* TABLET STYLES: 760px to 1199px */
/*@media screen and (min-width: 760px) {

    header  {
        width:auto;
        margin: 0 auto;
    }

    .nav {
        display: flex;
        background-color: transparent;
        text-decoration: none;
    }
    ul  {
        display: flex;
        align-items: center;
      
    }
    .nav {
        background-color: black;
        width: auto;
    }
    li a:link {
        text-decoration: none;
        text-align: center;
        background-color: #5CB9B9;
        border: 1px solid rgb(127, 19, 19);
        border-radius: 15px;
        padding: 5px 10px;
    }
    ul > li {
        padding-left: 40px;
    }
    
    .cart-logo > button {
        background: none;
        margin-top: 10px;
        margin-left: 40px;
    }

}
*/


@media screen and (min-width: 1100px) {

    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        color: black;
        background-color: #164B55;
    }
    h2 {
        font-size: 30px;
        font-weight: 600;
    }
    
    h3 {
        font-size: 25px;
        font-weight: 600;
       
    }
    img {
        max-width: 100%;
        height: auto;
    }

    body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: #164B55;
}
h2 {
    font-size: 30px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}
img {
    max-width: 100%;
    height: auto;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    text-decoration: none;
    background-color: rgb(55, 44, 65);
}
ul  li {
    padding-left: 50px;
    padding-right: 50px;
}
.products {
    display: grid;
    grid-template-columns: 20% 20% 20%;
}
.keyboard {
    text-align: center;
}
/* ======== styling for contacing us secation ============= */
.insert .fullname {
    width: 40%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .insert textarea {
    width: 40%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  }

